@import "fn"

html 
    -ms-text-size-adjust 100% //禁止手机自动调整文字大小
    -webkit-text-size-adjust 100% //浏览器前缀

body 
    line-height 1.6
    font-family $weuiFontDefault

* 
    margin 0
    padding 0

a img 
    border 0

a 
    text-decoration none
    setTapColor()