*{
  padding: 0;
  margin: 0;
}
.header{
  background-color: #333;
  width: 100%;
  height: 40px;
}
.container {
  width: 1226px;
  height: 40px;
  margin: 0 150px 0 140px;
}
a{
  cursor: pointer;
}
.left{
  font-size: 12px;
}
.left a{
  float: left;
  color: #b0b0b0;
  line-height: 40px;
  height: 40px;
  margin: 0 7px 0;
}
.left a:hover{
  color: #fff;
}
.content a{
  float: right;
  color: #b0b0b0;
  line-height: 40px;
  height: 40px;
  margin: 0 8px 0;
  font-size: 12px;
}
.content a:hover{
  color: #fff;
}
.cart{
  background-color: #424242;
  float: right;
  font-size: 14px;
  color: #b0b0b0;
  line-height: 40px;
  height: 40px;
  margin: 0 5px 0 15px;
  width: 125px;
  text-align: center;
}
.cart:hover{
  background-color: #fff;
  color: #ff6700;
}
.navigator{
  width: 100%;
  height: 100px;
}
.navigator-container{
  width: 1226px;
  height: 100px;
  margin: 0 150px 0 140px;
  /* background-color: #000; */
}
.logo a{
  display: block;
  float: left;
  width: 55px;
  height: 55px;
  margin-top: 22px;
  background-color: #ff6700;
  border: 1px solid green;
}
.list{
  float: left;
  width: 868px;
  height: 100px;
  line-height: 100px;
  border: 1px solid green;
}
.list a{
  padding: 0 12px 0 12px;
  cursor: pointer;
}
.list a:hover{
  color: #ff6700;
}
.first{
  margin-left: 30px;
}
.search{
  float: right;
  width: 296px;
  height: 50px;
  margin-top: 20px;
  border: 1px solid green;
}
.search .text{
  color: #e0e0e0;
  width: 200px;
  height: 50px;
}
.search .btn{
  color: #e0e0e0;
  width: 50px;
  height: 50px;
}



