*{
  margin: 0;
  padding: 0;
}
.header{
  width: 100%;
}
.button{
  margin: 0 4% 0 80%;
}
.page{
  width: 50px;
  height: 20px;
}
.search{
  width: 100%;
  margin-top: 10px;
  display: flex;
}
.right{
  margin-left: 67%;
}