body ,ul , li{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
body{
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  height: 2500px;
}
.container{
  /* border:1px solid #333; */
  background-color:#333;
  margin: 0 auto;
  width: 1226px;
}
.topbar{
  background-color:#333;
  /* border:1px solid #333; */
  height: 40px;
}
.container::before,.container::after{
  content:"";
  display:table;
}
.container::after{
  clear:both;
}
.topbar a{
  color:#b0b0b0;
  font-size: 12px;
  text-decoration: none;
}
.topbar a:hover{
  color:#fff;
}
.topbar-nav{
  float:left;
  height: 40px;
  line-height: 40px;
  font-size: 0;
}
.topbar span{
  font-size: 12px;
  color:#424242;
  font-family: sans-serif;
  margin: 0.5em;
}
.topbar-info,.topbar-cart{
  float:right;
}
.topbar-cart a{
  display:block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color:#424242;
  width: 120px;
}
.topbar-cart a:hover{
  background-color: #fff;
  color:#ff6700;
}
.topbar-cart span{
  margin-left: -4px;
  font-size: 12px;
  color: #b0b0b0;
}
.topbar-cart i{
  font-size: 20px;
  line-height: 20px;
  margin-right: 4px;
  vertical-align: -4px;
}
.topbar-info{
  margin-right: 15px;
}
.topbar-info a{
  float:left;
  padding: 0 5px;
  line-height: 40px;
  height: 40px;
}
.topbar-info span{
  font-size: 12px;
  font-family: sans-serif;
  float:left;
  color:#424242;
  text-align: center;
}
.topbar-info .sep{
  padding: 0 10px;
}

/* header */

.header{
  height: 100px;
}
.header-container{
  margin: 0 auto;
  width: 1226px;
}
.header-logo{
  float:left;
  width: 62px;
  height: 55px;
  margin-top: 25px;
  /* border:1px solid black; */
}
.header-logo a{
  display:block;
  width: 55px;
  height: 55px;
  background:#ff6700 url(../img/mi-logo.png) no-repeat 50% 50%;
}
.header-logo a.lr{
  text-align: left;
  text-indent:-9992em;
}

/* 导航 */

.header-nav{
  float:left;
  width: 820px;
  height: 100px;
  margin-top: 10px;
  /* border:1px solid black; */
}
.header-nav .nav-list{
  width: 820px;
  height: 88px;
  font-size: 16px;
}
.header-nav .nav-list .nav-category{
  float:left;
  width: 127px;
  padding: 0 15px 0 0;
}
.header-nav .nav-list .nav-category a{
  display:block;
  text-align: right;
  padding: 26px 0 38px;
  color:#333;
}
.header-nav .nav-list .nav-item{
  float:left;
}
.header-nav .nav-list .nav-item a{
  display:block;
  padding: 26px 10px 38px;
  color:#333;
}
.header-nav .nav-list .nav-item a:hover{
  color:#ff6700;
}
.header-nav a{
  text-decoration: none;
}
.header-search{
  float:right;
  width: 296px;
  height: 50px;
  margin-top: 22px;
  /* border:1px solid black; */
}

/* 搜索框 */
.header-search .search-form{
  position: relative;
  display:block;
  width: 296px;
  height: 50px;
}
.header-search .search-form .search-text{
  position: absolute;
  top: 0;
  right: 51px;
  display:block;
  height: 50px;
  width: 245px;
  line-height: 50px;
  border: 1px solid #e0e0e0;
  outline: 0;
}
.header-search .search-form .search-btn{
  position: absolute;
  top: 0;
  right: 0;
  display:block;
  width: 52px;
  height: 54px;
  border: 1px solid #e0e0e0;
  font-size: 24px;
  line-height: 24px;
  background: #fff;
  color:#616161;
  outline: 0;
}
.header-search .search-form .search-btn:hover{
  background: #ff6700;
  color: #fff;
}

/* seckill */
.seckill{
  background: #f5f5f5;
}
.seckill .seckill-head{
  margin-top: 19px;
  height: 170px;
  background:url('../img/seckill-head.jpg') no-repeat 50% 0;
}
.seckill .seckill-container{
  margin: 0 auto;
  width: 1226px;
  height: 50px;
}
.seckill .seckill-nav{
  margin: -60px 0 22px;
}
.seckill-nav ul{
  height: 68px;
  background: #414141;
}
.seckill-nav li{
  display: block;
  float: left;
  color: #fff;
  width: 20%;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.seckill-nav li em{
  display: inline-block;
  font-style: normal;
  font-size: 18px;
}
.seckill-nav .active {
  background: #f1393a;
  height: 68px;
}
.seckill-goods li{
  width: 400px;
  height: 190px;
  background-color: #fff;
}





